<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Resizer</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header class="bg-blue-500 py-4 px-5 flex items-center content-between">
      <div class="container">
        <h1 class="text-xl uppercase font-bold text-white">Image Resizer</h1>
      </div>
    </header>

    <div class="container mx-auto mt-8 w-4/5 flex justify-center items-center">
      <div class="w-full flex flex-col md:flex-row items-center">
        <div class="w-full md:w-1/2 flex justify-center mb-8 md:mb-0">
          <div
            id="thumbnailContainer"
            class="p-8 bg-gray-100 rounded-lg flex justify-center items-center"
          >
            <p class="text-center text-gray-500">
              Uploaded images will appear here
            </p>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <form
            id="uploadForm"
            enctype="multipart/form-data"
            action="{{ url_for('upload_files')}}"
            method="post"
            class="flex flex-col items-center"
          >
            <div class="file-input-container text-center mb-4 mx-auto">
              <label
                for="fileInput"
                id="fileInputLabel"
                class="relative flex items-center justify-center w-full h-20 md:w-96 bg-gray-200 rounded-lg border-4 border-dashed border-gray-400 cursor-pointer mb-4"
              >
                <svg
                  class="w-16 h-16 text-gray-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                  ></path>
                </svg>
                <span class="text-base leading-normal text-gray-500"
                  >Click here to upload your images to resize</span
                >
                <input
                  id="fileInput"
                  type="file"
                  name="file"
                  multiple
                  class="absolute hidden"
                  accept="image/*"
                />
              </label>
            </div>
            <div class="w-9/12 mb-4">
              <label for="width" class="block mb-2">Width:</label>
              <input
                id="width"
                name="width"
                type="number"
                class="border-gray-400 border-2 rounded px-2 py-1 w-full mb-2"
              />
            </div>
            <div class="w-9/12 mb-4">
              <label for="height" class="block mb-2">Height:</label>
              <input
                id="height"
                name="height"
                type="number"
                class="border-gray-400 border-2 rounded px-2 py-1 w-full mb-2"
              />
            </div>
            <button
              type="submit"
              class="w-9/12 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4"
            >
              Resize
            </button>
            <div class="w-9/12">
            <div id="downloadLink" style="display: none">
              <a
                id="downloadButton"
                href="#"
                download="resized_images.zip"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded block text-center"
              >
                Download
              </a>
            </div>
              </div>
          </form>
        </div>
      </div>
    </div>

    <div id="snackbar" class="snackbar"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
